@import 'variables';
@import 'flex';
@import 'base';

.logo {
  font-family: 'Comfortaa', cursive;
  color: $color-grey-light-2;
  user-select: none;
  font-size: 1.6rem;

  & span {
    color: $color-grey-light-2;
  }
}

.header-img {
  background: linear-gradient(
      to bottom right,
      rgba($color-primary-dark, 0.7),
      rgba($color-primary-light, 0.7)
    ),
    url('/img/header.jpeg');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: $color-grey-light-2;
  position: relative;
  width: 100%;

  h1 {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 5rem;
    text-align: center;

    &:first-child {
      font-weight: 700;
      font-size: 6rem;
      // letter-spacing: 1rem;
      text-transform: uppercase;
    }
  }
}

.featured {
  padding: 15rem 0;
  background-color: color-grey-light-2;
  margin-top: -5rem;
  overflow: hidden;
  width: 100%;

  h1 {
    font-size: 6rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5rem;
  }

  div.button {
    margin-top: 5rem;
    text-align: center;

    a {
      padding: 1.5rem;
      color: $color-grey-light-1 !important;
      display: inline-block;
      background-color: $color-primary-light;
      border-radius: 3rem;
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
      transition: all 0.3s;
      font-size: 1.6rem;

      &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 1rem rgba($color-black, 0.2);
      }
    }
  }
}

.footer {
  padding: 3rem 2rem;
  background-color: $color-grey-dark-3;
  color: $color-grey-light-1;
  text-align: center;
  font-size: 1.6rem;
}

.products {
  padding: 10rem 0;

  h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5rem;
    margin-top: -5rem;
  }
}

.product {
  padding: 10rem 0;
  text-align: center;

  img {
    width: 100%;
  }

  .hdr {
    padding: 2rem 0;
    width: 100%;

    h1 {
      text-align: left !important;
      font-size: 2.5rem;
    }

    button {
      float: right;
      text-align: right !important;
    }
  }

  .det {
    span {
      font-size: 1.8rem;
      color: $color-grey-dark-2;
      float: left;

      &:not(:first-child) {
        text-align: right;
        float: right;
      }
    }

    padding-bottom: 2rem;
  }

  .desc {
    font-size: 1.4rem;
    text-align: left !important;
  }
}

.contr {
    text-align: center;
    padding: 0 5rem;
    padding-top: 15vh;
    font-size: 2rem;

    h1 {
        font-size: 2.5rem;
        font-weight: 700;
    }
}

.contr + footer {
  position: fixed;
  bottom: 0;
  width: 100%; 
}

